
html{
background-color: rgb(2, 66, 66);
}

p{
    text-align: right; color: rgb(240, 235, 235);font-size:medium;
}

#p1{
    color: blue;
}
#p2{
    color: beige;

}

.PRETO{ text-align: center;
color: blue ;
}
