#fistlog{
    background-color:rgb(19, 19, 19);
}

.title{
    color:rgb(246, 193, 127);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:xx-large;

}

.formparagraf{
color: blanchedalmond;
}

p{
    color: rgb(184, 184, 199);
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: bisque;
}

.titulosuperior{
    background-color: black;
    }

.colormenu{
    color:rgb(221, 126, 9);
}

.assinatura{
    color:brown;
    
}
		.whatsapp-link {
			position: fixed;
			width: 60px;
			height: 60px;
			bottom: 40px;
			right: 40px;
			background-color: #25d366;
			color: #fff;
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
			box-shadow: 1px 1px 2px #888;
			z-index: 1000;
		}

		.fa-whatsapp {
			margin-top: 16px;
		}